.button-row{
    position: absolute;
    width: 245px;
    left: 5px;
    top: 5px;
    z-index: 100;
}
.button-row > button {
    margin-right: 10px;
}
.item {
    padding-top: 10px;
    width: 100%;
}
.selected {
    color:red;
}
.drag-card{
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: rgba(220,220,220,.6);
    border-radius: 5px;
    font-family: roboto;
    font-size: 0.7em;
    padding: 0px;
    z-index: 110;
}
.msg {
    position: absolute;
    left: 5px;
    bottom: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    font-family: consolas;
    font-size: 0.8em;
    padding-left: 15px;
    padding-right: 15px;
}